@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
	overflow-x: hidden;
	font-family: lato, 'Raleway', sans-serif;;
	color: #646464;
}

.offset:before{
	height: 5.5rem;
	margin-top: -5.5rem;
	content: "";
	display: block;

}

/*========navbar========*/

.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: .1remm;
	background: rgba(0, 0, 0, 0.2)!important;
}
.navbar-brand img{
	height: 100px;
}
.navbar-nav li{
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
	color: gold;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-item .nav-link .active,
.navbar-dark .navbar-nav .nav-item .nav-link :hover {
	color: gold;
}

.collapse li{
	padding-right: 40px;
}

/*=====image slider======*/

.carousel-item{
	height: 100vh;
}

.carousel-caption{
	position: absolute;
	top: 20%;
	text-transform: uppercase;
	width: 100%;
	right: 0;
	left: 0;
}
.carousel-caption h1{
	font-size: 2.8em;
	font-weight:700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
}
.carousel-caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem blak;
	padding-bottom: 1.6rem; 
}

.btn-lg {
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;
}


/*==========landing section==============*/

.narrow{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
.btn-md{
	border-width: medium;
	border-radius: 0;
	text-transform: uppercase;
	margin: 1rem;
}


h3.heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.9rem;
	padding: 1rem;
}
.heading-underline{
	width: 3rem;
	height:.2rem;
	background-color: gold;
	margin: 0 auto 2rem;

}
.card{
	margin: rem;
	width: 250px;
	height: 250px;
	border-color: gold;
}
/*========== floating whatsapp icon=====*/

*{padding:0;margin:0;}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:5px;
	margin-left: 2px;
}

/*==============Modal coustomiztion=================*/

.custom{
	width: 50%!important;
	margin: 0 auto!important;
	justify-content: center!important;
	 color: #646464!important;
}

.modal-dialog.modal-content{
	float: right;

}
.modal-header h2{
	text-align: center;
	color: black;
	justify-content: center;
}

.glow{
	color:#5cb85c;
	text-shadow: 0 0 3px #5cb85c;
}

.dec-none{
	color: inherit!important;
	text-decoration: none;
}


/*=======rooms===========*/

.contenedor {
  height: 100%;
  padding: 50px 0;

}

h1 {
  color: #FCFBFA;
}

.container_foto {
  /*background-color: rgba(57, 62, 93, 0);*/
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  margin: 5px;
}

.container_foto article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container_foto h2 {
  color: #fff;
  font-weight: 800;
  font-size: 35px;
  border-bottom: #fff solid 1px;
}

.container_foto h4 {
  font-weight: 300;
  color: #fff;
  font-size: 25px;
}

.container_foto img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}

.ver_mas {
  background-color: #FEB66C;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin-left: -15px;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ver_mas span {
  font-size: 12px;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 25px;
  padding-right: 5px;
}

.float-sm-left{
    font-size: 5px!important;
}

.float-sm-right{
    font-size: 5px!important;
}

.checked{
    color: gold;
}

/*hovers*/

.container_foto:hover {
  cursor: pointer;
}

.container_foto:hover img {
  opacity: 0.5;
  transform: scale(1.5);
}

.container_foto:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}



footer{
	height: 300px;
	padding-top: .5rem; 
	color: white !important;
	background: #010121;
}
footer.row{
	padding-top: 50px !important;
}

.pad-color{
	padding-top: 60px !important;
	border-width: .1px;
	border-style: none solid none none;
	border-color: rgba(112, 112, 112, .8);
	opacity: 
}



Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
